<main class="main">
  <section class="section banner banner-section">
     <div class="container banner-column right-hero">
          <img src="https://html.aqlova.com/bazaro-prev/bazaro/assets/img/grocery/grocery-hero-shape-2.png" class="icon-04" />
          <img class="banner-image" src="../../../../assets/hero-left.webp" alt="Illustration">
        <div class="banner-inner top-hero">
          <img class="icon-01" src="https://html.aqlova.com/bazaro-prev/bazaro/assets/img/grocery/grocery-hero-shape-4.png" alt="" />
          <img class="icon-02" src="https://html.aqlova.com/bazaro-prev/bazaro/assets/img/grocery/grocery-hero-shape-3.png" alt=""  />
          <div class="left-icon-hero">
            <img src="../../../../assets/icon-hero.png" alt="" />
          </div>
           <h1 class="heading-xl">All Your Files in One Secure Location.</h1>
           <p class="paragraph">
              We stores all your most important files in one secure location.
              Access them whenever needed, share and collaborate with
              your connections.
           </p>
           <button class="btn btn-darken btn-inline btn-hero-section">
              Get Started<i class="bx bx-right-arrow-alt"></i>
           </button>
        </div>
     </div>
  </section>
</main>
