.services-component {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.service-component-top {
  text-align: center;
}
.service-component-top h5 {
  margin: 0;
}


@media screen and (max-width: 499px) {
  .services-component {
    margin-top: 3rem;
  }

}


