.contact-us{
  width: 88%;
  text-align: center;
  margin: 6rem auto;
}
.container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-height: 480px;
  min-width: 370px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form-container {
  display: flex;
}
.left-side-section-contact_us img {
  width: 85% ;
}
.left-container {
  flex: 1;
}

.single-icon {
  background: antiquewhite;
  padding: 2rem;
  border-radius: 3rem 0;
}
.get_touch {
  margin-bottom: 3rem;
}
.bottom-contact_us {
  margin-bottom: 4rem;
  justify-content: space-between;
}
.contact-us-icon img {
  width: 17%;
  margin-bottom: 2rem;
}

.right-container {
  display: flex;
  flex: 1;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

.left-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.left-container p {
  font-size: 0.9rem;
}

.right-inner-container {
  width: 91%;
  text-align: center;
}

.left-inner-container {
  height: 100%;
  width: 100%;
}

input, textarea {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 0.8rem;
}

input:focus, textarea:focus {
  outline: 1px solid #ff4d4d;
}

button {
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 3rem;
  transition: all 0.4s;
  background: linear-gradient(227deg, rgba(205, 153, 48, 1) 0%, rgba(222, 185, 111, 1) 42%);
  width: 130px;
  color: white;
  border: none;
}

button:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 600px) {
  .left-container {
    display: none;
  }

  .lg-view {
    display: none;
  }
  .container{
    min-width: 100%;
  }
  .contact-us {
    width: 95%;
  }
  button{
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 600px) {
  .sm-view {
    display: none;
  }
}
form p {
  text-align: left;
}
@media only screen and (max-width: 600px) {
  .single-icon {
    width: 90%;
    margin: 0 auto 4rem auto;
  }
  .right-inner-container {
    width: 100%;
  }
  .right-inner-container h2.sm-view {
    margin-top: 2rem;
  }
}
