<app-title title="About Us" margin="1.5rem 0 0 2.5rem"></app-title>
<section id="aboutUs">
  <img src="../../../../assets/hero01.png" alt="computer user">
  <div class="content">
      <h2>About Us</h2>
      <h4> Welcome To Our Food Store</h4>
      <p class="description">
        Sed luctus massa purus, sed dapibus ex condimentum sed. Vestibulum eget imperdiet metus, varius facilisis nisl. Integer et sem eros. Pellentesque ullamcorper imperdiet laoreet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </p>
      <p class="description">
        Sed luctus massa purus, sed dapibus ex condimentum sed. Vestibulum eget imperdiet metus, varius facilisis nisl. Integer et sem eros. Pellentesque ullamcorper imperdiet laoreet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </p>
      <p class="description">
        Sed luctus massa purus, sed dapibus ex condimentum sed. Vestibulum eget imperdiet metus, varius facilisis nisl. Integer et sem eros. Pellentesque ullamcorper imperdiet laoreet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </p>
      <a class="btn" routerLink="/contact-us" >Contact Us</a>
  </div>
</section>
<div class="section-partner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="section-partner-left">
          <img style="width: 100%" src="https://nest-frontend-v6.vercel.app/assets/imgs/page/about-5.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="section-partner-right">
          <p>Our performance</p>
          <h1>Your Partner for e-commerce grocery solution</h1>
          <p>Ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
          <p>Pitatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia</p>
          <p>Pitatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia</p>
          <button class="btn">Read More</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sevices">
  <div class="second hero">
    <img class="hero-profile-img" src="assets/food-6.jpg" alt="">
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img src="../../../../assets/logo01.png" alt="">
    </div>
    <div class="hero-description">
      <p>Indulge in a gourmet journey with a menu Our chefs use the finest ingredients.</p>
    </div>
    <div  class="hero-date">
      <p>20.02.2024</p>
    </div>

  </div>

  <div class="second hero">
    <img class="hero-profile-img" src="assets/food-3.jpg" alt="">
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img src="../../../../assets/logo01.png" alt="">
    </div>
    <div class="hero-description">
      <p>Indulge in a gourmet journey with a menu Our chefs use the finest ingredients.</p>
    </div>
    <div  class="hero-date">
      <p>20.02.2024</p>
    </div>

  </div>
  <div class="second hero">
    <img class="hero-profile-img" src="assets/food-4.jpg" alt="">
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img src="../../../../assets/logo01.png" alt="">
    </div>
    <div class="hero-description">
      <p>Indulge in a gourmet journey with a menu Our chefs use the finest ingredients.</p>
    </div>
    <div  class="hero-date">
      <p>20.02.2024</p>
    </div>

  </div>
</div>
